

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{ 
    -webkit-appearance: none; 
    margin: 0; 
}

.searchBtn 
{
    background-color: #f16b52; 
    margin-left: 10px; 
    color: white;
    width: 15%;
}

